# Commonized port for Websocket & Express server
PORT=
# Mongo DB URI
MONGO_URI=
# SCRYPT hash of the secret (generated with yarn hash)
EVENT_SECRET_HASH=


# Elrond Node Url
ELROND_NODE_URI=
# Elrond Minter contract SC
ELROND_MINTER=
