# Commonized port for Websocket & Express server
PORT=
# Mongo DB URI
MONGO_URI=
# SCRYPT hash of the secret (generated with yarn hash)
EVENT_SECRET_HASH=

# Elrond Node Url
ELROND_NODE_URI=
# Elrond Minter contract SC
ELROND_MINTER=
# Dfinity Agent Url
DFINITY_AGENT_URI=
# Dfinity Bridge Principal
DFINITY_BRIDGE=

EVENT_SECRET=

EVM_WHITELIST_CONFIG={"7":{"url":"https://api.polygonscan.com","secret":""},"4":{"url":"https://api.bscscan.com","secret":""},"8":{"url":"https://api.ftmscan.com","secret":""},"6":{"url":"https://api.snowtrace.io","secret":""},"32": {"url":"https://moonbeam.moonscan.io","secret":""}}


# ENVIRONMENT=PRODUCTION
ENVIRONMENT=TEST

SC_VERIFY=

ETH_PRIVATE_KEY=
ETH_RPC=
ETH_NO_WHITELIST_UTILS=
ETH_GAS_IN_WEI=
