# Commonized port for Websocket & Express server
PORT=

# Running Environment TEST | PRODUCTION
ENVIRONMENT=

# Mongo DB URI
MONGO_URI=
# SCRYPT hash of the secret (generated with yarn hash)
EVENT_SECRET_HASH=


# Elrond Node Url
ELROND_NODE_URI=
# Elrond Minter contract SC
ELROND_MINTER=

# Dfinity Agent Url
DFINITY_AGENT_URI=
# Dfinity Bridge Principal
DFINITY_BRIDGE=
